<div class="pokemon-card" [class.active]="showCard">
    <mat-card class="example-card" *ngIf="pokemonChosen">
        <mat-card-header class="header-card">
          <div mat-card-avatar class="header-image">
            <!--<app-img *ngIf="urlLogoImg !== undefined" [img]="urlLogoImg" alt="poke"></app-img>-->
           <img class="pokemon-logo" src="./../../../assets/icons/Poké_Ball_icon.svg.png" alt="poke">
          </div>
            <mat-card-title>{{ pokemonChosen.name | uppercase }}</mat-card-title>
            <mat-card-subtitle>
              <p class="id">
                #{{ pokemonChosen.id | customId }}
              </p>
            </mat-card-subtitle>
            <mat-card-content class="hp-stat">
                <p>
                   H.P {{ pokemonChosen.stats[0].base_stat }}
                </p>
            </mat-card-content>
        </mat-card-header>
        
        <app-img *ngIf="pokemonChosen.img !== undefined" [img]="pokemonChosen.img"></app-img>
        
        <mat-card-content>
        <ul class="types">
            <div *ngFor="let pokemonChosenType of pokemonChosen.types; index as i">
                <li class="type" *ngIf="pokemonChosen.colorType !== undefined" [ngStyle]="{'background': pokemonChosen.colorType[i]}">{{ pokemonChosenType.type.name | toUpperCaseFirst }}</li>
            </div>
        </ul>
        <hr/>
        
        <mat-tab-group mat-stretch-tabs class="pokemon-tabs">
          <mat-tab label="STATS"> 
            <div class="container-stats">
              <div *ngFor="let pokemonChosenStat of pokemonChosen.stats; index as i">
                <p>{{ pokemonChosenStat.stat.name | uppercase}} {{ pokemonChosenStat.base_stat }}</p>
              </div>
            </div>
           </mat-tab>
          
          <mat-tab label="GAME SPRITES"> 
            <div class="sprites-container">
              
              <div>
                <p class="sprites-titles">SPRITES DEFAULT:</p>
                <swiper-container class="sprites-default sprites">
                  <swiper-slide>
                    <div>
                      <img [src]="pokemonChosen.sprites.front_default" alt="img no available">
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div>
                      <img [src]="pokemonChosen.sprites.back_default" alt="img no available">
                    </div>
                  </swiper-slide>
                </swiper-container>
              </div>

              <div>
                <p class="sprites-titles">SPRITES SHINY:</p>
                <swiper-container class="sprites-shiny sprites">   
                  <swiper-slide>
                     <div>
                      <img [src]="pokemonChosen.sprites.front_shiny" alt="img no available">
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div>
                      <img [src]="pokemonChosen.sprites.back_shiny" alt="img no available">
                    </div>
                  </swiper-slide>
                </swiper-container>
              </div>

            </div>
         </mat-tab>
         
        </mat-tab-group>
      </mat-card-content>
      <a [routerLink]="['/pokemon', pokemonChosen.name]">See datail...</a>
        <mat-card-actions>
          <button class="button-close" (click)="closePokemonCard()">Close</button>
        </mat-card-actions>
      </mat-card>
</div>
<!--
<div class="pokemon-card" [class.active]="showCard">
    <div *ngIf="pokemonChosen">
        <button (click)="closePokemonCard()">Close</button>
        <h1>{{ pokemonChosen.name }}</h1>
        <app-img *ngIf="pokemonChosen.img !== undefined" [img]="pokemonChosen.img"></app-img>
        <p> {{ pokemonChosen.id }}</p>
    </div>
</div>
-->
