.pokemon-card-container {
    position: fixed;
    top: 0;
    left: 70%;
    bottom: 0;
    right: 0;
    border: 1px solid;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: all ease-out .5s;
    .pokemon-card{
    }
    img {
        width: 100%;
    }
    .header-card {
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid;
        border-radius: 15px;
    }
    .header-image {
        //justify-content: left;
    }
    mat-card-title {
        //justify-content: center;
        font-weight: bold;
        position: sticky;
    }
    mat-card-subtitle {
        text-align: center;
    }
    .pokemon-tabs {
        max-width: 800px;
    }
    //styles to "close button". this style comes from https://getcssscan.com/css-buttons-examples
    mat-card-actions {
        justify-content: center;
    }
    .container-stats {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 20px;
        margin-top: 40px;
        box-sizing: border-box;
        p {
            font-size: 15px;
            text-align: center;
        }
    }
    .sprites-container{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .sprites-titles{
        margin: 0 auto;
        font-size: 16px;
        font-weight: 20px;
    }
    .sprites{
        div{
            margin: 0 auto;
            height: 150px;
            width: 120px;
        }
        img{
            height: 100%;
            width: 100%;
        }
    
    }
    .a-detail {
        width: 120px;
        .button-detail {
            border-radius: 0 24px 24px 0;
        }
    }

    .button-close-container {
        width: 100%;
        .button-close {
            
        }
    }
    /*
    styles for "close button" in file styles.scss
    */
    .hp-stat {
        //justify-content: right;
        padding: 0;
    }
    &.active {
        transform: translateX(0);
        overflow-y: scroll;
        /*
        overflow-y: scroll;
        this option allows us to scroll in the pokemon card
        when the height of the screen isn't enough*/
    }
}
    

// Tables: width
@media screen and (max-width: 28.4375em){
    .pokemon-card-container {
        left: 0;
    }

}

@media screen and (min-width: 28.4376em) and (max-width: 49.9em){
    .pokemon-card-container {
        left: 30%;
    }
}


@media screen and (min-width: 50em) and (max-width: 78.125em){
    .pokemon-card-container {
        left: 60%;
    }
}

// Tables: height
  @media screen and (max-height: 42em){
    .pokemon-card-container{
        .pokemon-card {
            .container-stats {
                column-gap: 30px;
                row-gap: 10px;
                margin-top: 20px;
                p {
                    font-size: 16px;
                    text-align: center;
                }
            }
            .header-card {
                height: 50px;
                mat-card-title {
                    //justify-content: center;
                    font-weight: bold;
                    position: sticky;
                }
            }
            
    
        }
    }
}

/*
@media screen and (min-width: 25.75em) and (max-width: 63.9em){
    .pokemon-card {
        left: 40%;
    }
}


@media screen and (min-width: 64em) and (max-width: 78.125em){
    .pokemon-card {
        left: 60%;
    }
}¨
*/