.pokemon-card {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    margin: 15px 10px;
    h1, p {
        text-align: center;
    }
}
.pokemon-card:hover {
    background-color: black;
    color: white;
    margin: -2px -2px;
    //zoom: 150%;
}
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 40em){
    .pokemons-card {
        margin: 1px 1px;
    }
}