.pokemon-card {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    margin: 15px 10px;
    h1, p {
        text-align: center;
        margin-top: 10px;
    }
    p {
        margin-bottom: 10px;
    }
}
.pokemon-card:hover {
    background-color: black;
    margin: -2px -2px;
    h1, p {
        color: white;
    }
    //zoom: 150%;
}
/*
types' styles in the scss file "styles.scss"
.types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    .type {
        //font-weight: bold;
        text-align: center;
        width: 60px;
        border-radius: 12px;
        padding: 3px;
    }
}
*/

@media screen and (max-width: 40em){
    .pokemons-card {
        margin: 1px 1px;
    }
}