<div class="main-container">
    <div class="selects-container"> 
      <div class="filter-container">
        <form #formGeneration>
          <mat-form-field #nameFormGeneration>
            <mat-label>Generation</mat-label>
            <!--<mat-select #Generation (selectionChange)="testMethod(formGeneration)" name="generationSelect">-->
            <mat-select #Generation (selectionChange)="onSelectedGeneration(Generation.value)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let generation of generations; index as i" [value]="generation.url">{{ generation.name | toUpperCaseFirst }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select #Types [(ngModel)]="typeChosen" (selectionChange)="onSelectedType(Types.value)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let type of types" [value]="type.name">{{ type.name | toUpperCaseFirst }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <mat-form-field class="searcher">
        <mat-label>Pokemon</mat-label>
        <input (keydown.enter)="searchPokemon($event)" type="text" matInput placeholder="Pokemon" [(ngModel)]="searchedPokemon">
        <mat-icon matSuffix><img src="./../../../assets/icons/icon_search.png" alt="lupa"></mat-icon>
      </mat-form-field>
    </div>
    
    <div class="pokemons-grid" *ngIf="!pokemonExist; else elementSearched">
        <app-pokemon
        *ngFor="let result of results; index as i"
        (namePokemon)="showPokemonCard($event)" 
        [pokemonName]="result.name"></app-pokemon>
    </div>
    
    <ng-template #elementSearched>
    <div class="pokemons-grid">
      <app-pokemon
      (namePokemon)="showPokemonCard($event)" 
      [pokemonName]="searchedPokemon"
      [enterButtonPressed]="switchEnterButton"></app-pokemon>
    </div>
    </ng-template>
        
    <button class="general-button load" [disabled]="isButtonDisabled || pokemonExist" *ngIf="!stateLoadSpinner; else loadSpinner"  (click)="loadMorePokemons()">Load More Pokemons</button>
        <ng-template  #loadSpinner>
            <mat-spinner class="loadSpinner load"></mat-spinner>
        </ng-template>
    <app-pokemon-card
    [pokemonChosen]="pokemonChosen"
    [showCard]="statusPokemonCard"
    (stateCard)="togglePokemonCard($event)"
    ></app-pokemon-card>
</div>


<!--
    <app-img *ngIf="pokemon.img" [img]="pokemon.img"></app-img>
-->
