.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 10px 15px 0px 10px;
    padding-top: 20px;
    margin: 0 auto;
}
.filter-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}
.searcher {
    height: 80px;
    img {
        height: 30px;
        margin-right: 8px; 
        opacity: 0.6;
    }
}
input {
    height: 56px;
}

.pokemons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    margin-left: 3px;
    margin-right: 3px;
}
.load {
    width: 300px;
    margin-bottom: 60px;
    align-self: center;
}


// Tables
@media screen and (min-width: 25.74em) and (max-width: 40em){
    .pokemons-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .selects-container {
        width: 95%;
    }
}

@media screen and (min-width: 40em) and (max-width: 55.9em){
    .pokemons-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        width: 640px;
        margin: 0 auto;
    }
    .selects-container {
        width: 620px;
        margin: 0 auto;
    }
}

// web
@media screen and (min-width: 55.9em) and (max-width: 78.125em){
    .pokemons-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        width: 894.4px;
        margin: 0 auto;
        // LA LINEA DE ABAJO ES UN EJEMPLO DE COMO APLICAR UN ESTILO 
        // QUE LLENE LA GRILLA DE FORMA AUTOMATICA CON VALORES PREDE-
        // -TERMINADOS 
        //grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }
    .selects-container {
        width: 870px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 78.125em){
    .pokemons-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        width: 1280px;
        margin: 0 auto;
    }
    .selects-container {
        width: 1260px;
        padding: 10px 15px 0px 10px;
    }
}